body {
  padding-top: 25px;
  background-color: black;
}
.starter {
  padding: 40px 15px;
	
}

.big-icon {
  font-size: 48px;
  padding: 5px;
}

.colored-icon {
	color: #924da3;
}

.big-text {
  font-size: 48px;
}

.middle-text {
	font-size: 19px;
}

.table>tbody>tr>td.w-10 {
	text-align: center;
	padding: 0px;
}

.table>tbody>tr>td.w-15 {
	text-align: right;
}

.table>tbody>tr>td.w-30 {
	padding: 0px;
}

#weather-table>tbody>tr>td {
	color: #BFBFBF;
	padding: 2px;
	border: 0px;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 1);
}

#weather-table.table>tbody>tr>td.unit {
	text-align: left;
}

#weather-table.table>tbody>tr>td.sensor-value {
	text-align: right;
}

.w-5 {
	width: 5%;
}

.w-10 {
	width: 10%;
}

.w-15 {
	width: 15%;
}

.w-20 {
	width: 20%;
}

.w-30 {
	width: 30%;
}

.w-40 {
	width: 40%;
}

.w-50 {
	width: 50%;
}

.w-60 {
	width: 60%;
}

.w-80 {
	width: 80%;
}


/*[class*="col-"] {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}*/